// Gallery container layout
.gallery-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

// Vertical thumbnail slider
// .thumbnail-slider {
//   display: flex;
//   flex-direction: row;
//   gap: 8px;
//   max-width: 1000px; // Adjust as needed
//   width: 90%;
//   margin-left: 5%;
//   overflow-y: scroll;
  
// }

/* Custom scrollbar styling */
.thumbnail-slider {
  overflow-x: auto !important;
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important; 
}

/* Webkit-based browsers (Chrome, Edge, Safari) */
.thumbnail-slider::-webkit-scrollbar {

  display: none !important; 
}

.thumbnail-slider::-webkit-scrollbar-thumb {

  display: none !important; 
}

.thumbnail-slider::-webkit-scrollbar-track {
  display: none !important; 
}

/* Chevron button styling */
.chevron {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.chevron:hover {
  background-color: #f0f0f0;
}

/* Responsive adjustments */
@media screen and (min-width: 768px) {
  .thumbnail-slider {
    padding-bottom: 6px; /* Additional padding to avoid overlapping */
  }
}



// Thumbnail images
.thumbnail {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 3/2 !important;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  

  &.active {
    border: 2px solid #0073e6;
  }
}

// Full image view
.full-image-view {
  flex-grow: 1;
  max-width: 100%; // Adjust as needed
}

// .selected-image {
.selected-image-container{
  // max-width: 100% !important;
  // max-height: 100% !important;
  // min-width: 300px !important;
  // // object-fit: fill !important;
  // height: 90vh;
  // width: 50vw !important;
  height: 100%;
  width: 100%;
  object-fit: none;
  // height: 70vh !important;
  // aspect-ratio: 9/16 !important;
}


.slide-container {
  position: relative;
  width: 100%;
  max-width: 600px; /* Adjust as needed */
  height: 400px; /* Adjust based on your design */
  overflow: hidden;
  overflow-x: hidden !important;
  border-radius: 8px; /* Optional: for rounded corners */
}

.slide-image {
  transition: transform 0.3s ease; /* Adds subtle zoom on hover */
}

.slide-container:hover .slide-image {
  transform: scale(1.05); /* Slight zoom on hover for effect */
}

