// Gallery container layout
.gallery-container {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}

// Vertical thumbnail slider
.thumbnail-slider {
  display: flex;
  flex-direction: row;
  gap: 8px;
  max-width: 1000px; // Adjust as needed
  width: 90%;
  margin-left: 5%;
  overflow-y: scroll;
  
}

// Thumbnail images
.thumbnail {
  width: 40%;
  height: 30%;
  object-fit: cover;
  aspect-ratio: 3/2 !important;
  cursor: pointer;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  

  &.active {
    border: 2px solid #0073e6;
  }
}

// Full image view
.full-image-view {
  flex-grow: 1;
  max-width: 100%; // Adjust as needed
}

.selected-image {
  width: 100%;
  height: auto;
  object-fit: contain;
}
