.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 20rem;
  width: 100%;
}

.loader {
  display: flex;
  justify-content: space-around;
  width: 80px;
}

.loader div {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #2ba283;
  animation: bounce 0.6s infinite alternate;
}

.loader div:nth-child(2) {
  animation-delay: 0.2s;
}

.loader div:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes bounce {
  to {
    transform: translateY(-16px);
    opacity: 0.6;
  }
}
